html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


 /* MY CODE BELOW */


 body {
	line-height: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #caf0f8;
}

/* NAVIGATION */
nav {
    background-color: #0077b6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
    
}

nav ul {
    width: 100%;
}

nav li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

nav li:nth-of-type(2n) {
    background-color: #00b4d8;
    color:aliceblue;
}

nav a {
    text-decoration: none;
    color: white;
}

/* HERO */
    .hero {
        background-image: url(images/outdoor.jpg);
        height: 300px;
        background-size: cover;
        background-position: center;


        display: flex;
        text-align: center;

    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .hero h1 {
        color: white;
        font-weight: 600;
        font-size: 1.5em;
    }

    .hero h2 {
        color: white;
        font-weight: 700;
        font-size: 2.7em;
    }
/* INTRO */

    .intro {
        padding: 20px;
        text-align: center;
        
    }

    .intro #one {
        padding-bottom: 20px;
        border-bottom: 1px solid black;
        font-weight: 600;
        font-size: 1.6em;
    }

    .intro #two {
        padding-top: 10px;
    }




/* FOOTER */